<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
        .nav{
            background-color:white;
            height: 50px;


        }
        #navbar1{
            background-color:white;
            height: 60px;

            background-attachment: scroll;


        }

        .nav-link:hover {

         --_p: 100%;
         --_s: .3s;

        }
        .nav-link{
        --b: 0.1em;   /* the thickness of the line */
        --c:  rgb(56, 116, 226); /* the color */

        color: #0000;
        padding-block: var(--b);
        background:
        linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
        -webkit-background-clip: text,padding-box;
        background-clip: text,padding-box;
        transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
        }




       </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8ceecd9c16.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VivoBook</title>
</head>
<body>

    <!-- top -->
    <div style="background-color: rgb(56, 116, 226); " class="text-primary">  _</div>
    <div style="background-color: #000;">
      <center>
      <video autoplay loop style="height: 100px; width: 100%px;">
        <source src="{% static 'file/video1.mp4' %}">
    </video>
  </center>
    </div><br>

     <!-- nav bar -->
<div id="navbar1">

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/userindex/{{username}}"><img src="{% static 'file/logo3.png' %}" style="width:30px;height:30px;margin-left: 200px;"></a><h1 style="font-family: 'Times New Roman', Times, serif; ;"></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                <a class="nav-link text-dark" href="http://127.0.0.1:8000/userindex/{{username}}" style="margin-left: 20px;letter-spacing: 2px; " ><strong>HOME</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="http://127.0.0.1:8000/usercontact/{{username}}" style="margin-left: 10px;letter-spacing: 2px;" ><strong>CONTACT</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-dark" href="http://127.0.0.1:8000/userabout/{{username}}" style="margin-left: 10px;letter-spacing: 2px;"><strong>ABOUT</strong></a>
                </li>
                </ul>


            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 10px;letter-spacing: 2px;">
                    <strong>PRODUCTS</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="margin-left: 10px;letter-spacing: 2px;">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/zen/{{username}}">ZenBook</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/vivo/{{username}}">VivoBook</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/rog/{{username}}">ROG STRIX SERIES</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/tuf/{{username}}">ASUS TUF GAMING</a></li>
                    </ul>
                    </li>
                 </ul>
            </div>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
                <div ><a href="http://127.0.0.1:8000/cartdisplay/{{username}}"><i class="fa-solid fa-cart-shopping fa-2x" style="margin-left:20px"></i></a></div>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 10px;">
                    <strong><i class="fa-solid fa-circle-user fa-2x"></i>{{username}}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="margin-left:-80px;">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/userprofile/{{username}}">Profile</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/cartdisplay/{{username}}">Wishlist</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/userlogin/">Sign Out</a></li>

                    </ul>
                    </li>
                 </ul>
            </div>






            </div>
        </div><br>
    </nav>

</div><br>
<br>

<div class="container"><a style="tex-decoration:none">User </a> | {{username}} > Asus VivoBook<hr></div>
    <div style="background-color: snow; margin-top:-17px;"> <br><br><h1 style="font-family: Lucida Console, Courier New, monospace;"><center>Vivo ZenBook</center></h1><br>

<!--     product display-->
<div class="container">
    <div class="row">
{% for i,j,k,l,m,n in mylist %}
        <div class="col-4">
            <br>
            <div class="card" style="width:100%" id="card">
                <img src="{% static i %}" style="height:300px">
                <div class="card-body">
                   <br>
                    <center><h4 class="card-title" style="font-family: Lucida Console, Courier New, monospace;">{{j}}</h4></center><br><hr>
                    <p style="font-family: Lucida Console, Courier New, monospace;"><center>Asus e store price</center></p>
                    <h3 class="card-text text-primary" style="font-family: Lucida Console, Courier New, monospace;"><center>₹{{k}}/-</center></h3><hr>
                     <p class="card-text" style="font-family: Lucida Console, Courier New, monospace;"><center>{{l}}</center></p><br>
                    <center><a href="http://127.0.0.1:8000/zcart/{{m}}" class="btn btn-warning" style="width:330px">Add to cart</a>

                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    <br><br><br>
</div>
    </div><hr>

<div style="margin-left: 100px;">
  <br>
  <p  class="text-dark">©ASUSTeK Computer Lnc. 2023</p>
  <br>
  <br>
</div>

</body>
</html>